/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff8000;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.project {
    margin-bottom: 20px;
}

/* 반응형 스타일링 */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-top: 10px;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .section {
        padding: 30px;
    }
}
